<Legend>Restaurants</legend>

<% @restaurants.each do |restaurant| %>

<div class="row">
<div class="col-md-7">
        <img class="img-responsive" src="<%= restaurant.picture_url %>" alt="">
    </a>
</div>
<div class="col-md-5">
    <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
    <h4><%= restaurant.city %></h4>
</div>
</div>

<% end %>
<!-- 
<div class="restaurants">

<% @restaurants.each do |restaurant| %>
	<p><%= link_to image_tag(restaurant.picture_url), restaurant_path(restaurant) %> </p>
	<p><%= restaurant.name %> </p>
	<p><%= restaurant.city %></p>
<% end %>
</a>

</div>
 -->
