<h3><%= @restaurant.name %></h3>

<img src="<%= @restaurant.picture_url %>" alt="<%= @restaurant.name %>">
<p>Type: <%= @restaurant.cuisine %></p>
<p>City: <%= @restaurant.city %></p>
<p>address: <%= @restaurant.address %></p>
<p>Phone Number: <%= @restaurant.phone_number %></p>
<p>Capacity: <%= @restaurant.capacity %></p>
<% if @restaurant.menu_url? %>
  <p>Menu URL: <a href="<%= @restaurant.menu_url %>">View Menu</a></p>
<% end %>

<% if current_user %>
  <h4>New Reservation</h4>

  <%= form_for([@restaurant, @reservation]) do |f| %>
    <% if @reservation.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being made:</h2>

        <ul>
        <% @reservation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.date_select :time, { start_hour: 12, end_hour: 22, ampm: true, discard_minute: true } %>
    </div>

    <div class="field">
      <%= f.label :party_size %><br />
      <%= f.number_field(:party_size, {in: 1.0..50.0, step: 1}) %>
    </div>
  
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

<% else %>
  <p>Please <%= link_to "log in", new_session_path %> to make a reservation.</p> 
<% end %>