<!DOCTYPE html>
<html>
<head>
  <title>Seat Yoself!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="assets/style.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body class="<%= controller_name %> <%= action_name %>">



  <%= render 'layouts/form' %>
  <br>
  <br>
  <br>

  <div class="container">

  <% if flash[:notice] %>
    <div class="alert alert-success" role="alert" id="notice"><%= flash[:notice] %></div>
  <% end %>
  <% if flash[:alert] %>
    <div class="alert alert-danger" role="alert" id="alert"><%= flash[:alert] %></div>
  <% end %>

  <%= yield %>

</div>


</body>
</html>
